# Included in version control to to show the values that must be 
# included in a local copy of the terraform.tfvars for the IaC
# to run correctly.  The main.tf is dependent on a the bucket name
# which is automatically picked up from terraform.tfvars locally, and 
# should follow this format.
bucket_name = "<foo>"
